@import 'tailwindcss';


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { 
    opacity: 0;
    transform: translateY(20px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.7s ease-out;
}


@layer base {
  body {
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', 'Segoe UI', system-ui, sans-serif;
    font-weight: 700; /* bold */
  }
}